<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vairosoft Lig</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class=" mt-5 ml-3">
        <div style="float: left; background-color: gray; padding: 15px;">
            <img  src="/img/2.png">
            <p >Mongo veri tabanında tutulan Takım bilgileri.</p>
        </div>
        <div >
           

            <p>Yapmış olduğum uygulamada maç sonuçlarını belirlemek için çeşitli parametreler kullandım.  </p>
            <p>Bu parametreler; Takım gücü, Ofansif güç, Defansif güç, Art arda alınan galibiyet, Art arda alınan mağlubiyet ve biraz da şans faktörü.</p>
            <p>Kullanmış olduğum formül: takım gücü*(ofansif güç/rakip takımın defansif gücü)+1.02^(art arda alınan galibiyet-art arda alınan mağlubiyet)+ şans faktörü</p>
        </div>

       
       
    </div>
</body>
</html>